@font-face {
    font-family: "Halyard Display";
    src: url("../fonts/HalyardDisplay/c4d8819fda4c3fd79e36cedcc8d422bb.eot");
    src: url("../fonts/HalyardDisplay/c4d8819fda4c3fd79e36cedcc8d422bb.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HalyardDisplay/c4d8819fda4c3fd79e36cedcc8d422bb.woff2") format("woff2"),
    url("../fonts/HalyardDisplay/c4d8819fda4c3fd79e36cedcc8d422bb.woff") format("woff"),
    url("../fonts/HalyardDisplay/c4d8819fda4c3fd79e36cedcc8d422bb.ttf") format("truetype"),
    url("../fonts/HalyardDisplay/c4d8819fda4c3fd79e36cedcc8d422bb.svg#Halyard Display") format("svg");
}

