.booking-wizard {
    margin-top: 45px;

    .wizard-menu {
        ul {
            @include unstyled-list;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                align-items: center;

                .wizard-number {
                    width: 28px;
                    height: 28px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 7px;
                    font-size: 12px;
                    border-radius: 50%;
                    border: 2px solid var(--color-border);
                }

                button {
                    max-width: 150px;
                    padding: 0;
                    overflow: hidden;
                    font-size: 13px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    text-align: left;
                    border: none;
                    background-color: transparent;
                }

                &:not(:last-child) {
                    margin-bottom: 30px;

                    .wizard-number {
                        position: relative;

                        &:after {
                            content: "";
                            width: 1px;
                            height: 32px;
                            border-left: 2px dashed var(--color-border);
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            top: 100%;
                        }
                    }
                }

                &.completed, &.current {
                    color: var(--color-primary);

                    .wizard-number {
                        border-color: var(--color-primary);

                        &:after {
                            border-color: var(--color-primary);
                        }
                    }

                    button {
                        color: var(--color-primary);
                    }
                }
            }
        }

        @media (min-width: 768px) {
            position: sticky;
            top: calc($header-main-height + 20px);
        }
    }

    .wizard-steps-wrapper {
        min-height: 60vh;
        position: relative;
    }

    .wizard-step {
        display: none;
    }

    .wizard-step-loader {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        padding-top: 20%;
        z-index: 9;
        background-color: var(--bs-white);
    }
}

.date-selection-wrapper {
    .next-week-selection {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-column-gap: 10px;

        .selection-item {
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;
            border: none;
            border-radius: 0.375rem;
            background-color: var(--bs-white);
            box-shadow: inset 0 0 0 0.1rem var(--color-border-light);
            transition: var(--transition);

            .day {
                margin-bottom: 0;
                color: rgb(102, 102, 102);
                font-weight: 500;
                font-size: 13px;
                line-height: 12px;
                letter-spacing: 0.4px;
                text-transform: uppercase;
                transition: var(--transition);
            }

            .date {
                margin-top: 0.8rem;
                color: rgb(68, 68, 68);
                font-weight: 600;
                font-size: 17px;
                line-height: 20px;
                transition: var(--transition);
            }

            .price {
                margin-top: 0.4rem;
                color: rgb(102, 102, 102);
                font-size: 12px;
                line-height: 16px;
                transition: var(--transition);
            }

            &.active {
                box-shadow: inset 0 0 0 0.1rem var(--color-primary);
                background-color: lighten($primary, 47%);

                .day,
                .date,
                .price {
                    color: var(--color-primary);
                }
            }

            &.disabled {
                opacity: 0.95;
                pointer-events: none;

                .day,
                .date,
                .price {
                    color: var(--gray-500);
                }
            }

            &.more-dates {
                font-weight: 500;
                transition: var(--transition);

                &:hover {
                    color: var(--bs-white);
                    background-color: var(--color-primary);
                }
            }

            &:hover {
                box-shadow: inset 0 0 0 0.1rem var(--color-primary);

                .day,
                .date,
                .price {
                    color: var(--color-primary);
                }
            }
        }
    }
}

.more-day-selection {
    .date-selection-modal {
        .modal-content {
            position: relative;
        }

        .btn-close {
            width: 31px;
            height: 31px;
            position: absolute;
            top: -30px;
            right: -30px;
            padding: 0;
            opacity: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: white;
            background-size: 10px;
            background-position: center;
        }
    }

    .vanilla-calendar-month,
    .vanilla-calendar-year {
        pointer-events: none;
    }

    .vanilla-calendar-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .vanilla-calendar-week__day {
        text-transform: uppercase;
    }

    .vanilla-calendar-days {
        column-gap: 0.25rem;
    }

    .vanilla-calendar-day {

    }

    .vanilla-calendar-day__btn {
        min-height: 3rem;
        flex-direction: column;
        border-radius: 0.35rem;

        .day {
            color: rgb(68, 68, 68);
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
        }

        .price {
            margin-top: 5px;
            color: rgb(136, 136, 136);
            font-size: 11px;
            font-weight: 400;
            line-height: 12px;
            letter-spacing: 0.2px;
            overflow-wrap: break-word;
        }

        &.vanilla-calendar-day__btn_selected {
            background-color: lighten($primary, 45%);

            .day {
                color: var(--color-primary);
            }

            .price {
                color: var(--color-primary);
            }
        }

        &.vanilla-calendar-day__btn_disabled {
            .day {
                color: #cbd5e1;
            }

            .price {
                display: none;
            }
        }
    }
}

.section-booking-preference {
    .navigation-buttons {
        .slide-prev,
        .slide-next {
            width: 31px;
            height: 30px;
            color: var(--color-dark-mid);
            font-size: 12px;
            font-weight: bold;
            border-radius: 50%;
            border: 1px solid var(--color-border);
            background-color: var(--color-white);
            filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.1)) drop-shadow(0px 3px 19px rgba(0, 0, 0, 0.05));
            transition: var(--transition);

            &:hover {
                color: var(--bs-white);
                border-color: var(--color-primary);
                background-color: var(--color-primary);
            }
        }
    }

    .swiper-preference {
        padding: 1px;
    }

    .preference-card {
        padding: 20px;
        border-radius: $border-radius;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    }
}

.guest-selection-wrapper {

}

.selected-service-information {
    margin-bottom: 20px;
    border-radius: $border-radius;
    border: 1px solid var(--color-border);

    .service-image-wrapper {
        padding: 20px;
        color: var(--bs-white);
        border-radius: $border-radius $border-radius 0 0;
        background-size: cover;
    }

    .meta-content, .booked-persons {
        padding: 20px;
        border-bottom: 1px solid var(--color-border);
    }

    @media (min-width: 768px) {
        position: sticky;
        top: calc($header-main-height + 20px);
    }
}

.payment-options-wrapper {
    display: flex;

    .single-option {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .btn-check {
            + .btn {
                width: 80px;
                height: 80px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0.375rem;
                border: 1px solid var(--color-border);

                &:before {
                    content: '';
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    border-radius: 50%;
                    border: 1px solid var(--color-border-light);
                    background-color: var(--bs-white);
                    transition: var(--transition);
                }

                &:after {
                    content: '\f00c';
                    position: absolute;
                    top: 9px;
                    right: 9px;
                    font-size: 10px;
                    @include font-awesome-font-mixin;
                    color: var(--bs-white);
                    font-weight: 900;
                    opacity: 0;
                    visibility: hidden;
                    transform: rotate(90deg);
                    transition: var(--transition);
                }
            }

            &:checked {
                + .btn {
                    color: var(--color-primary);
                    border-color: var(--color-primary);
                    background-color: var(--color-primary-lighter);

                    &:before {
                        border-color: var(--color-primary);
                        background-color: var(--color-primary);
                    }

                    &:after {
                        opacity: 1;
                        visibility: visible;
                        transform: rotate(0);
                    }
                }
            }
        }

        &:not(:last-child) {
            margin-right: 15px;
        }
    }
}