.intro-image-wrapper {
    border-radius: $border-radius-lg;
    overflow: hidden;
    max-height: 18.75rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 40px 12px;

    img {
        width: 100%;
    }
}

.section-home-compare {
    .compare-contents-wrapper {
        @media (max-width: 767px) {
            overflow-x: auto;
        }
    }

    .compare-row {
        @media (max-width: 767px) {
            flex-wrap: nowrap;
        }
    }

    .compare-thumbnails-wrapper,
    .compare-titles-wrapper,
    .compare-prices-wrapper,
    .compare-duration-wrapper,
    .compare-inclusions-wrapper,
    .cancellation-policy-wrapper {
        @media (min-width: 768px) {
            padding-bottom: 20px;
            margin-bottom: 20px;
        }

        @media (max-width: 767px) {
            padding-bottom: 15px;
            margin-bottom: 15px;
        }
    }

    .prices-starting-wrapper {
        @media (min-width: 768px) {
            margin-bottom: 20px;
        }

        @media (max-width: 767px) {
            margin-bottom: 15px;
        }
    }

    .book-buttons-wrapper {
        .btn {
            min-height: 45px;
            font-weight: 500;
            line-height: 31px;
        }
    }
}

.section-home-explore {
    .explore-tab {
        font-size: 14px;

        @include default-tab-mixin;

        .nav-link {
            font-size: 14px;
        }

        .tab-pane {
            border-radius: 0.375rem;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
    }
}

.section-home-plan {
    .plan-tab {
        font-size: 14px;

        @include default-tab-mixin;

        .nav-link {
            font-size: 14px;
        }

        .tab-pane {
            border-radius: 0.375rem;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
    }

    .image-wrapper {
        height: 300px;
        border-radius: 0.375rem 0.375rem 0 0;
        background-size: cover;
        background-position: center;
    }
}

.cta-home-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-width: 768px) {
        padding: 90px 0;
    }

    @media (max-width: 767px) {
        padding: 40px 0;
    }

    &.cta-1 {
        background-image: url("../images/cta-image-1.jpg");
    }
}

.section-home-why-choose {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../images/cta-image-1.jpg");

    @media (min-width: 768px) {
        padding: 90px 0;
    }

    @media (max-width: 767px) {
        padding: 40px 0;
    }
}

.why-choose-items-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
    padding-top: 50px;

    .single-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 1;

        .icon-wrapper {
            width: 90px;
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            color: #7f8088;
            font-size: 33px;
            border-radius: 20px;
            border: 2px solid #C6C8D6;
            background-color: transparent;
            transition: var(--transition);
        }

        &:not(:last-child) {
            &:before {
                content: url("../images/arrow-light.png");
                position: absolute;
                top: -50px;
                right: -134px;
                z-index: -1;
            }
        }

        &:hover {
            .icon-wrapper {
                color: var(--color-primary);
                border-color: #010D4C;
            }

            &:not(:last-child) {
                &:before {
                    content: url("../images/arrow-dark.png");
                }
            }
        }
    }
}