.intro-image-wrapper {
    border-radius: $border-radius-lg;
    overflow: hidden;
    max-height: 18.75rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 40px 12px;

    img {
        width: 100%;
    }
}